.art-card {
  display: inline-block;
  width: 25%;
  .ant-card {
    position: relative;
    border-radius: 2em;
    img {
      border-radius: .4em;
    }
    .image-icon {
      position: absolute;
      border: solid 1.8px rgb(0, 0, 0);
      width: 1.5em;
      height: 1.5em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: .4em;
      top: .8em;
      right: .8em;
      .anticon {
        transform: rotate(45deg);
      }
    }
    .ant-card-body {
      padding: unset;
    }
  }
}