.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2em;
  top: 2em;
  z-index: 2;
  transition: .2s;
  &.background {
    // background-image: url('../images/background2.jpeg');
    background: #01A99D;
    // filter: blur(2px);
    // -webkit-filter: blur(2px);
    color: white;
    top: 0;
  }
}