.homepage {
  height: 100vh;
  .home-row {
    height: 100%;
    .left-pane {
      background: rgb(243, 245, 240);
      padding-top: 7em;
      height: 100%;
      padding-left: 5em;
      width: 60%;
      & {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
      }
      
      &::-webkit-scrollbar {
          display: none; /* for Chrome, Safari, and Opera */
      }
      .big-title {
        margin: 0;
        font-size: 70px;
        width: 70%;
        font-weight: 900;
        margin-top: 1em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        line-height: 1.1em;

      }
      .sub-title {
        width: 50%;
        margin-top: 2em;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 3em;
      }
      .art-display {
        margin-top: 5em;
        .art-display-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 2em;
          .art-display-title {
            margin: 0;
            display: flex;
            font-weight: 600;
            font-size: 26px;
          }
          .art-display-nav {
            margin-right: 2em;
            span {
              width: 2em;
              font-weight: 600;
              margin-right: 3em;
              svg {
                width: 2em;
                height: 1.5em;
              }
            }
          }
        }
        .art-area {
          .ant-card {
            position: relative;
            border-radius: 2em;
            img {
              border-radius: .4em;
            }
            .image-icon {
              position: absolute;
              border: solid 1.8px rgb(0, 0, 0);
              width: 1.5em;
              height: 1.5em;
              display: flex;
              justify-content: space-around;
              align-items: center;
              border-radius: .4em;
              top: .8em;
              right: .8em;
              .anticon {
                transform: rotate(45deg);
              }
            }
            .ant-card-body {
              padding: unset;
            }
          }
        }
      }
    }
    .right-pane {
      background-image: url('../images/background2.jpeg');
      // background: rgb(16, 33, 22);
      padding-top: 7em;
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      
      .bid-image-container {
        margin-bottom: -3em;
        margin-top: -11em;
        display: flex;
        align-self: center;
      }
    }
  }
}